{% extends "base.html" %}

<!-- page title block -->
{% block title %} Notes {% endblock %}

<!-- main page content block -->
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Create New Note</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_note') }}">
        <!-- task name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <input id="note_title" name="note_title" minlength="5" maxlength="30" type="text" class="validate" required>
                <label for="note_title">Title</label>
            </div>
        </div>
        <!-- task description -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">description</i>
                <textarea id="note_content" name="note_content" class="materialize-textarea"></textarea>
                <label for="note_content">Content</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add Note
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}