<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Quick Notes - {% block title %}{% endblock %}</title>
</head>
<body>

    <header>
        <!-- top navbar -->
        <nav class="grey lighten-3">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo black-text">Quick Notes</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a class="black-text" href="{{ url_for('home') }}">Home</a></li>
                    <li><a class="black-text" href="{{ url_for('notes') }}">Notes</a></li>
                    <li><a class="black-text" href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a class="black-text" href="{{ url_for('home') }}">Home</a></li>
                    <li><a class="black-text" href="{{ url_for('login') }}">Login</a></li>
                    <li><a class="black-text" href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            {% if user.is_authenticated %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('notes') }}">Notes</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>

    <!-- alert bar to alert flash error or success messages from auth.py -->
    <!-- function define varable messages equal to get_flashed_message to get all flashed messages and categories-->
    {% with messages = get_flashed_messages(with_categories=true) %}

    <!-- loop through all flash messages and display relevent flash message -->
    {% if messages %}
    {% for category, message in messages %}
    <!-- alert for errors -->
    {% if category == "error" %}
    <div class="container">
        <div class="card-alert card red lighten-5">
            <div class="card-content red-text">
                <strong>{{ message }}</strong>
            </div>
            <button type="button" class="close red-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>

    <!-- alert for success -->
    {% else %}
    <div class="container">
        <div class="card-alert card green lighten-5">
            <div class="card-content green-text">
                <strong>{{ message }}</strong>
            </div>
            <button type="button" class="close green-text" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer grey lighten-3">
        <div class="footer-copyright">
            <div class="container black-text">
                © 2023 Copyright Thomas Ballard
                <a class="black-text right" href="https://github.com/ThomasBallardCI/m3-notes-app" target="_blank">GitHub</a>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>