{% extends "base.html" %}

<!-- page title block -->
{% block title %} Home {% endblock %}

<!-- main page content block -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 l6">
            <div>
                <h1>Start Organizing Your Thoughts Today!</h1>
            </div>
            <div class="divider"></div>
            <div>
                <p class="sub-text">Join our friendly note-taking community for a fast,
                    secure, and hassle-free experience.</p>
                    <div class="divider" role="separator" aria-label="Section Divider"></div>
                <p class="sub-text2">Create, Edit, and Organize Your Notes Effortlessly! Get started in seconds with our user-friendly note-taking platform.
                    Your thoughts, securely stored.</p>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="section" aria-hidden="true" aria-label="Section"></div>
            <div>
                <p class="center-align register-below">Register Below To Get Started</p>
            </div>
            <form class="col s12 card-panel center-align" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate" required aria-label="Email Input">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="first_name" name="first_name" type="text" class="validate" required aria-label="First Name Input">
                        <label for="first_name">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="last_name" name="last_name" type="text" class="validate" required aria-label="Last Name Input">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password1" name="password1" type="password" class="validate" required aria-label="Password Input">
                        <label for="password1">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password2" name="password2" type="password" class="validate" required aria-label="Confirm Password Input">
                        <label for="password2">Password (Confirm)</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light purple darken-4 hoverable" type="submit" name="action" aria-label="Submit Registration Form">Submit
                    <i class="material-icons right">send</i>
                </button>
                <div class="section"></div>
            </form>
            <p class="center-align login-here">Already have an account? <a href="{{ url_for('login') }}" aria-label="Login Link">login here!</a></p>
        </div> 
</div>
{% endblock %}