{% extends "base.html" %}

<!-- page title block -->
{% block title %} Login {% endblock %}

<!-- main page content block -->
{% block content %}


<div class="container center-align">
    <h1 class="section">Welcome Back to Quick Notes</h1>
    <form class="col s12 section card-panel" method="POST">
        <span class="card-title">Login To Access Notes</span>
        <div class="row section">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light purple darken-4" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
    <div>
        <h6>Don't have an account? <a href="{{ url_for('home') }}">Register Here!</a></h6>
    </div>
</div>

{% endblock %}