{% extends "base.html" %}

<!-- This block sets the title of the page to 'Notes' -->
{% block title %}
    Notes
{% endblock %}

<!-- This block contains the main content of the page -->
{% block content %}
    <!-- Page Header -->
    <h1 class="center-align">Welcome to your notes {{ user.first_name }}</h1>

    <div class="row">
        <div class="center-align col s12">
            <!-- Button to add a new note -->
            <a href="{{ url_for('add_note') }}" class="waves-effect waves-light btn-large purple darken-4 hoverable"
                aria-label="Create New Note">
                <i class="material-icons right">add</i>New Note
            </a>
        </div>
    </div>

    <!-- List of notes using collapsible component -->
    <ul class="collapsible popout" aria-label="List of Notes">
        {% for note in notes %}
            <li>
                <div class="collapsible-header hoverable" role="button" aria-expanded="false" aria-label="Note Header">
                    <i class="material-icons">keyboard_arrow_down</i>
                    <strong>{{ note.note_title|truncate(20) }}</strong>
                    <div class="date-right">
                        {% if note.note_date %}
                            <p>{{ note.note_date.strftime('%d/%m/%Y') }}</p>
                        {% endif %}
                    </div>
                </div>
                <!-- Collapsible body for each note -->
                <div class="collapsible-body">
                    <span>
                        <p>{{ note.note_content }}</p>
                        <!-- Edit and Delete buttons for the note -->
                        <a href="{{ url_for('edit_note', note_id=note.id) }}" class="btn-small purple darken-4 hoverable"
                            aria-label="Edit Note">Edit</a>
                        <a class="waves-effect waves-light red btn-small modal-trigger hoverable" href="#modal{{ note.id }}"
                            aria-label="Delete Note">Delete</a>
                    </span>
                </div>

                <!-- Modal Structure for each note -->
                <div id="modal{{ note.id }}" class="modal">
                    <div class="modal-content">
                        <!-- Delete confirmation message -->
                        <h4>Confirmation Required!</h4>
                        <p>
                            Are you sure you want to proceed? If you click "Agree," the note you want to delete will be
                            permanently erased, and cannot be recovered.
                        </p>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <!-- Button to cancel delete action -->
                        <a href="#!"
                            class="modal-close waves-effect waves-light btn-small white purple-text text-darken-4 hoverable"
                            aria-label="Cancel Delete">Cancel</a>
                        <!-- Button to confirm and delete the note -->
                        <a class="waves-effect waves-light btn-small modal-trigger red delete-button hoverable"
                            href="{{ url_for('delete_note', note_id=note.id) }}" data-note-id="{{ note.id }}"
                            aria-label="Confirm Delete">Agree</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
