{% extends "base.html" %}

{% block title %}
    <!-- Set the title of the page to 'Account' -->
    Account
{% endblock %}

<!-- This block contains the main content of the page -->
{% block content %}
    <!-- Page Header -->
    <h1 class="center-align" aria-label="Account Management">Account Management</h1>

    <div class="row center-align">
        <div class="card">
            <div class="card-content black-text">
                <!-- First Name section -->
                <span class="card-title">
                    <div class="row">
                        <p class="fname-account">
                            <strong class="fname-title">First Name: </strong>{{ user.first_name }}
                        </p>
                    </div>
                    
                    <!-- Last Name section -->
                    <div class="row">
                        <p class="lname-account">
                            <strong class="lname-title">Last Name: </strong>{{ user.last_name }}
                        </p>
                    </div>
                    
                    <!-- Edit Button -->
                    <a class="waves-effect waves-light btn purple darken-4 hoverable"
                        href="{{ url_for('edit_user', user_id=user.id) }}" aria-label="edit names">
                        Edit
                    </a>
                </span>
                
                <!-- Section separator -->
                <div class="section"></div>
                
                <!-- Delete account message -->
                <p class="acc-del-ins">
                    <strong>Click below to delete your Quick Notes account</strong>
                </p>
                <p class="red-text">
                    *Deleting your account will delete and remove all saved notes*
                </p>
                <div class="section"></div>
            </div>
            
            <div class="card-action">
                <!-- Button to go back to Notes page -->
                <a class="waves-effect waves-light btn purple darken-4 hoverable" href="{{ url_for('notes') }}"
                    aria-label="Back to Notes">
                    Back
                </a>
                
                <!-- Button to open the Delete Account modal -->
                <a class="waves-effect waves-light btn red user-delete-button hoverable modal-trigger right-align"
                    href="#delete-account-modal" aria-label="Delete Account">
                    Delete Account
                </a>
            </div>
        </div>
    </div>
    
    <!-- Modal Structure for deleting the account -->
    <div id="delete-account-modal" class="modal">
        <div class="modal-content left-align">
            <h4>Confirmation Required!</h4>
            <!-- Confirmation message -->
            <p>
                Are you sure you want to proceed? This action is irreversible and
                will delete your account and all associated notes.
            </p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <!-- Cancel button within the modal -->
            <a href="#!" class="modal-close waves-effect waves-light btn-small white purple-text text-darken-4 hoverable"
                aria-label="Cancel Delete">
                Cancel
            </a>
            
            <!-- Agree button to delete the account -->
            <a href="{{ url_for('delete_user', user_id=user.id) }}"
                class="waves-effect waves-light btn-small red hoverable" aria-label="Confirm Delete">
                Agree
            </a>
        </div>
    </div>
{% endblock %}
