@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* label focus color */
.input-field input:focus+label {
    color: #4a148c !important;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #4a148c !important;
    box-shadow: 0 1px 0 0 #4a148c !important;
}

textarea {
    color: #4a148c !important;
}

/* hyperlink text color */
a {
    color: #4a148c;
}

/* flash messages alert styling */
.card-alert button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    color: inherit;
    cursor: pointer;
}

.card-alert a {
    color: inherit;
    font-weight: 500;
}

.card-alert a:hover {
    color: inherit;
    text-decoration: underline;
}

/* dateTime styling to the right of collapsible */
.date-right {
    margin-right: 0;
    margin-left: auto;
    font-size: small;
}

h1 {
    font-weight: 800;
}

.sub-text {
    font-weight: 500;
    font-size: 1.5em;
}

.sub-text2 {
    font-weight: 500;
}

.register-below {
    font-weight: 500;
}

.register-below, .login-here {
    font-size: 1.1em;
}

.brand-logo {
    font-weight: 800;
}

.card-title {
    font-weight: 500;
    font-size: 2em;
}