/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Styling for label focus color */
.input-field input:focus+label, textarea:focus+label {
    color: #4a148c !important;
}

/* Styling for label underline focus color */
.row .input-field input:focus, textarea:focus {
    border-bottom: 1px solid #4a148c !important;
    box-shadow: 0 1px 0 0 #4a148c !important;
}

/* Styling for hyperlink text color */
a {
    color: #4a148c;
}

/* Styling for flash messages alert styling */
.card-alert button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    color: inherit;
    cursor: pointer;
}

.card-alert a {
    color: inherit;
    font-weight: 500;
}

.card-alert a:hover {
    color: inherit;
    text-decoration: underline;
}

/* Styling for DateTime to the right of collapsible */
.date-right {
    margin-right: 0;
    margin-left: auto;
    font-size: small;
}

/* Styling for H1's */
h1 {
    font-weight: 800;
}

/* Styling for specific text elements */
.sub-text {
    font-weight: 500;
    font-size: 1.5em;
}

.sub-text2 {
    font-weight: 500;
}

/* Styling for register below specific text */
.register-below {
    font-weight: 700;
    color: #4a148c;
}

/* Styling for registration, login, and account creation text */
.register-below, .login-here, .register-here{
    font-size: 1.2em;
}

/* Styling for base.html navbar logo */
.brand-logo {
    font-weight: 800;
}

/* Styling for card titles */
.card-title {
    font-weight: 500;
    font-size: 2em;
}

.login-link:hover {
    /* text-decoration: underline 1px #4a148c; */
    background-color: #4a148c !important;
    color: #fff !important;
}

.github:hover {
    text-decoration: underline 1px #4a148c;
    color: #4a148c;
}

.register-link:hover {
    background-color: #4a148c !important;
    color: #fff !important;
}

/* keeps note content within the bounds of collapsible body */
.collapsible-body {
    overflow: auto;
    height: auto;
}

.acc-del-ins {
    font-size: 1.75em;
}

/* media queries for smaller devices */
@media only screen and  (max-width: 750px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
    
}

@media only screen and (max-width: 400px) {
    .brand-logo {
        font-size: 1.5em !important;
    }

    h1 {
        font-size: 2.75em;
    }

    .sub-text {
        font-size: 1.25em;
    }

    .card-title {
        font-size: 1.5em !important;
    }
}