/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Styling for label focus color */
.input-field input:focus+label, textarea:focus+label {
    color: #4a148c !important;
}

/* Styling for label underline focus color */
.row .input-field input:focus, textarea:focus {
    border-bottom: 1px solid #4a148c !important;
    box-shadow: 0 1px 0 0 #4a148c !important;
}

/* Styling for hyperlink text color */
a {
    color: #4a148c;
}

/* Styling for flash messages alert styling */
.card-alert button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    color: inherit;
    cursor: pointer;
}

.card-alert a {
    color: inherit;
    font-weight: 500;
}

.card-alert a:hover {
    color: inherit;
    text-decoration: underline;
}

/* Styling for DateTime to the right of collapsible */
.date-right {
    margin-right: 0;
    margin-left: auto;
    font-size: small;
}

/* Styling for H1's */
h1 {
    font-weight: 800;
}

/* Styling for specific text elements */
.sub-text {
    font-weight: 500;
    font-size: 1.5em;
}

.sub-text2 {
    font-weight: 500;
}

/* Styling for register below specific text */
.register-below {
    font-weight: 500;
}

/* Styling for registration, login, and account creation text */
.register-below, .login-here, .register-here{
    font-size: 1.1em;
}

/* Styling for base.html navbar logo */
.brand-logo {
    font-weight: 800;
}

/* Styling for card titles */
.card-title {
    font-weight: 500;
    font-size: 2em;
}